header.md-header .md-flex__cell  {
    vertical-align: middle;
}
header.md-header .md-flex__cell a.md-header-nav__button .md-icon {
    display: flex;
}

.md-icon--home:before {
    width: 100px;
    height: 25px;
    display: inline-block;
    content: ' ';
    background-image: url('../assets/logo_small.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle
}

.md-typeset td code {
    word-break: normal;
}


@media screen {
    [data-md-color-scheme="slate"] {
        --md-hue: 232deg;

        --md-default-fg-color:             hsla(var(--md-hue), 75%, 95%, 1);
        --md-default-fg-color--light:      hsla(var(--md-hue), 75%, 90%, 0.62);
        --md-default-fg-color--lighter:    hsla(var(--md-hue), 75%, 90%, 0.32);
        --md-default-fg-color--lightest:   hsla(var(--md-hue), 75%, 90%, 0.12);

        --md-default-bg-color:             hsla(var(--md-hue), 15%, 21%, 1);
        --md-default-bg-color--light:      hsla(var(--md-hue), 15%, 21%, 0.54);
        --md-default-bg-color--lighter:    hsla(var(--md-hue), 15%, 21%, 0.26);
        --md-default-bg-color--lightest:   hsla(var(--md-hue), 15%, 21%, 0.07);
    }
}
