name: Publish docs via GitHub Pages

on:
  push:
    branches: [master]

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@1.24
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_DOMAIN: learn.getindico.io
